doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Situs Judi Adu Ayam Online S128 Resmi &raquo; S128VIP™
    meta(name="description", content="S128VIP adalah situs agen S128 resmi yang menyediakan permainan judi adu ayam online bagi para pemain di Indonesia. Dapatkan akun S128 secara gratis hanya dengan mengisi form daftar S128 yang tersedia.")
    meta(name="original-source", content="http://www.s128vip.net")
    meta(name="google-site-verification", content="IzzsubXPZvy27_a2IqSni_sx6wf9e7HxSAnV2wXp-kE")
    meta(name="msvalidate.01", content="51D76B3F769532FFEB308763C2C53D68")
    meta(name="yandex-verification", content="032ce10154f29ac5")
    meta(name="p:domain_verify", content="")
    meta(name="rating", content="general")
    meta(property="fb:pages", content="")
    meta(property="og:locale", content="id_ID")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Situs Judi Adu Ayam Online S128 Resmi &raquo; S128VIP™")
    meta(property="og:description", content="S128VIP adalah situs agen S128 resmi yang menyediakan permainan judi adu ayam online bagi para pemain di Indonesia. Dapatkan akun S128 secara gratis hanya dengan mengisi form daftar S128 yang tersedia.")
    meta(property="og:url", content="http://www.s128vip.net")
    meta(property="og:site_name", content="S128VIP")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:description", content="S128VIP adalah situs agen S128 resmi yang menyediakan permainan judi adu ayam online bagi para pemain di Indonesia. Dapatkan akun S128 secara gratis hanya dengan mengisi form daftar S128 yang tersedia.")
    meta(name="twitter:title", content="Situs Judi Adu Ayam Online S128 Resmi &raquo; S128VIP™")
    meta(name="twitter:site", content="")
    meta(name="twitter:creator", content="")
    link(rel="manifest", href="site.webmanifest")
    link(rel="apple-touch-icon", href="/img/favicon.png" type="icon/png")
    link(rel="icon", href="/img/favicon.png", type="image/png")
    link(rel="canonical", href="http://www.s128vip.net")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/css/uikit.min.css" integrity="sha256-BG8yAJxcIdBBsYCf2et8kEPTyCzGBalvxYLFYSwwcfg=" crossorigin="anonymous")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.9/css/all.css", integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1", crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Teko:600")
    link(rel="stylesheet", href="style.css", type="text/css")
  body
    nav.main-navigation.uk-navbar-container.uk-navbar-transparent(uk-navbar="boundary-align: true; dropbar-mode: push; align: right;")
      div.desktop-nav.uk-navbar-left
        a.uk-navbar-item.uk-logo(href="/")
          h1: img(src="img/logo.png" alt="Agen S128 VIP Adu Ayam Online Indonesia")
        ul.uk-navbar-nav(class="uk-visible@m")
          li: a(href="#signup-form" uk-toggle) DAFTAR S128
          li: a(href="http://www.stationbet.com/promo/" target="_blank") PROMO
          li: a(href="http://www.stationayam.net" target="_blank") LOGIN S128
          li: a(href="/tips" target="_blank") TIPS S128
      div.contact-bar.uk-navbar-right
        ul.uk-navbar-nav(class="uk-visible@m")
          li.uk-disabled Contact Us: 
          li
            i.fab.fa-blackberry.uk-margin-right
            span STATIONS
          li
            i.fab.fa-blackberry.uk-margin-right
            span 52E67404
          li
            i.fab.fa-whatsapp.uk-margin-right
            span +85581739597
          li
            i.fab.fa-whatsapp.uk-margin-right
            span +855966953300  
          li.uk-disabled
            i.fab.fa-line.uk-margin-right
            span STATIONBET
          li.uk-disabled
            i.fab.fa-weixin.uk-margin-right
            span STATIONBET
        ul.mobile-nav.uk-navbar-nav(class="uk-hidden@m")
          li
            a.uk-navbar-toggle(href="")
              span.uk-margin-small-right MENU
              span(uk-navbar-toggle-icon)
            div.mobile-dropdown.uk-navbar-dropdown
              ul.uk-nav.uk-navbar-dropdown-nav
                li.uk-nav-header CONTACT US
                li.uk-nav-divider
                li
                  i.fab.fa-blackberry.uk-margin-right
                  span STATIONS
                li
                  i.fab.fa-blackberry.uk-margin-right
                  span 52E67404
                li
                  i.fab.fa-whatsapp.uk-margin-right
                  span +85581739597
                li
                  i.fab.fa-whatsapp.uk-margin-right
                  span +855966953300  
                li.uk-disabled
                  i.fab.fa-line.uk-margin-right
                  span STATIONBET
                li.uk-disabled
                  i.fab.fa-weixin.uk-margin-right
                  span STATIONBET
                li.uk-nav-header NAVIGASI SITUS
                li.uk-nav-divider
                li
                  a(href="#signup-form" uk-toggle)
                    i.fas.fa-user-plus.uk-margin-right
                    |DAFTAR
                li
                  a(href="http://www.stationbet.com/promo" target="_blank")
                    i.fas.fa-gift.uk-margin-right
                    |PROMO
                li
                  a(href="/tips" target="_blank")
                    i.fas.fa-question-circle.uk-margin-right
                    |TIPS S128

    section.frame-wrapper
      div.frame-desktop(class="uk-visible@m")
        iframe.frame-content(src="http://www.dj128.net" sandbox="allow-same-origin allow-scripts allow-forms allow-popup" frameborder="0" scrolling="no")

      div.frame-mobile(class="uk-hidden@m")
        div.content.uk-text-center
          img(src="img/s128.png" alt="Agen S128")
          div.intro MENGUNDUH APLIKASI MOBILE
          div#content-android(style="display: none")
            div.download
              div.btn-android
                a(href="http://www.dj128.net/Mobile/get_andriod.aspx" rel="nofollow noindex" target="_blank")
                  i.fab.fa-android.uk-margin-right
                  |MENGUNDUH UNTUK ANDROID
            div 
              |Mohon aktifkan sumber yang tidak diketahui sebelum menginstal. Pilih tombol menu di layar utama/Home.
              span(style="color:#00ff90") Masuk ke Setting >> Aplikasi dan aktifkan sumber yg tidak di ketahui.
              br
              br
              |Petunjuk Instalasi:
              ul
                li Unduh berkas apk
                li Cari mengunduh file dalam aplikasi . Berkas / Folder
                li Meluncurkan dan Pasang
                li Buka aplikasi saat instalasi selesai
          div#content-ios(style="display: none")
            div.download
              div.btn-ios
                a(href="http://www.dj128.net/Mobile/get_ios.aspx" rel="nofollow noindex" target="_blank")
                  i.fab.fa-apple.uk-margin-right
                  |MENGUNDUH UNTUK APPLE IOS
            div
              |Setelah menginstal, mohon percaya pada aplikasi "Cockfight" sebelum diluncurkan.
              br
              br
              span(style="color: #00ff90") Ketuk/Tap Pengaturan > Umum > Profil atau Profil &amp; Manajemen Perangkat. Anda kemudian melihat profil "Kriti Technology" di bawah judul "Enterprise App". Ketuk/Tap Profil untuk membangun kepercayaan pada aplikasi ini.
              br
              br
              |Rincian tentang menginstal dan mempercayai aplikasi perusahaan dapat di temukan
              a(href="https://support.apple.com/id-id/HT204460" target="_blank" rel="nofollow noindex" style="color:#cccccc") disini
              |.
              br
              br
              |Versi yang mendukung : iOS 8.0 dan keatas.

    div#signup-form.uk-flex-top(uk-modal)
      div.sign-up-form-wrapper.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.uk-text-center
        div.uk-width-1-1.uk-flex.uk-flex-center
          img(src="img/logo.png")
        h2.uk-text-center FORM DAFTAR S128, SV388, CFT2288
        iframe.uk-responsive(src="http://d47a831254m4.com/bs/form_input/register.php", scrolling="no", frameborder="0", width="100%" height="550")
        div.cta-register
          p.uk-text-center Setelah mengisi form daftar diatas silahkan klik tombol live chat dibawah ini untuk menghubungi operator customer service kami untuk mengambil akun permainan anda.
          a.primary-button(href="javascript:;", onclick="LC_API.open_chat_window();return false;") LIVE CHAT  

    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/js/uikit-icons.min.js" integrity="sha256-lzyD1PQU9FFlwDf4vXsT9flhvTJy22W+3m5YuCO+C5M=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/js/uikit.min.js" integrity="sha256-wtBkxjqzeN8Dv5U468u2/NuZTU/UAMLLzXd6gdtlOl8=" crossorigin="anonymous")
    script.
      if (top!=self) {top.location = self.location;}
      var isiOS = /ip(hone|ad)/i.test(navigator.userAgent.toLowerCase());
      var isAndroid = /android/i.test(navigator.userAgent.toLowerCase());
      if (isiOS) {document.getElementById("content-ios").style.display="block";}
      else {document.getElementById("content-android").style.display="block";}
