$background-color: #231f20;
$primary-color: rgba(223, 190, 106, 0.702);
$primary-border-color: rgba(223, 190, 106, .3);
$gold-pattern-bg: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747545/stationbet/bg-pattern-2.png') repeat;
$alt-bg-pattern: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747545/stationbet/bg-pattern-3.png');
$product-icon: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747547/stationbet/game-icons-sprites.png');
$bank-icon: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747545/stationbet/bank-icon-sprites.png');
$heading-font: 'Teko', sans-serif;
$general-font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$breakpoints:(
  'phone': 425px, 
  'tablet': 768px, 
  'desktop': 1024px,
  'hd': 1440px
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  }
  @else {
    @warn "No value in `#{$breakpoint}`." + "Make sure it is defined in `$breakpoints` map.";
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font !important;
  text-transform: uppercase;
}

p {
  font-family: $general-font;
  text-transform: uppercase;
}

a {
  color: $primary-color;
  text-transform: uppercase;
	&:hover {
    color: #fff;
		text-decoration: none;
	}
}

.primary-button {
  display: inline-block;
  margin: 10px auto;
  padding: 8px 70px 10px;
  background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
	background: {
		position: 1% 50%;
		size: 300% 300%;
	}
  font: {
    family: $general-font;
    size: .625rem;
    weight: 500;
    style: normal;
  }
  color: $primary-color;
  text: {
    align: center;
    transform: uppercase;
  }
  letter-spacing: .4em;
	border: solid 1px $primary-border-color;
	border-radius: 0;
	transition: all .7s ease-out;
	&:hover {
		color: #fff;
		border: solid 1px rgba(223,190,106,0);
		background-position: 99% 50%;
	}
}

.gold-font {
	color: $primary-color;
}

.gold-border {
	border: solid 1px $primary-border-color;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
  padding: 0;
  background: url('img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  font: {
    font-family: $general-font;
    weight: 300;
    style: normal;
  }
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.site-wrapper {
  padding: 15px;
  padding-bottom: 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  background-size: contain;
  background: $alt-bg-pattern repeat;
  border-left: solid 1px $primary-border-color;
  border-right: solid 1px $primary-border-color;
}

.top-logo {
  width: 250px;
  height: 50px;
}

.header-info {
  .topbar-marquee {
    height: 20px;
    background: radial-gradient(circle at top left, rgba(255,255,255,.2),rgba(35, 31, 32, 1)), $gold-pattern-bg;
    margin-top: 20px;
    font: {
      size: .625rem;
      weight: 600;
    }
    color: #000;
    .scrolling-text {
      width: 100%;
      height: 20px;
      color: #000;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: .3em;
      border-left: solid 1px #222;
      border-bottom: solid 1px rgba(255, 255, 255, .1);
    }
  }
  .topbar-contact {
    float: right;
    width: 100%;
    padding: 8px 1px;
    background: rgba(87, 0, 0, 0.5);
    font: {
      family: $general-font;
      size: .634rem
    }
    color: $primary-color;
    text-align: right;
    letter-spacing: .19em;
    > span {
      margin-right: 13px;
    }
  }
}

.main-navigation {
  height: 50px;
  background: radial-gradient(circle, rgba(255,255,255,.2),rgba(35, 31, 32, 1)), $gold-pattern-bg;
  .navigation-mobile {
    .mobile-nav-icon {
      height: 40px;
      font: {
        family: $heading-font;
        weight: 600;
      }
      color: #000;
    }
    .mobile-dropdown, .sub-level-1 {
      background: $alt-bg-pattern repeat;
      border: solid 1px $primary-border-color;
      border-top: solid 4px $primary-color;
      .uk-nav-header {
        font: {
          family: $heading-font;
          size: 1rem;
        }
        color: $primary-color;
      }
      > ul > li {
        a {
          font: {
            family: $general-font;
            size: .825rem;
            weight: 600;
          }
          text-shadow: 1px 1px 2px #000;
          .fab,
          .fas {
            color: $primary-color;
            &:hover {
              color: #000;
            }
          }
          &:hover {
            padding-left: 10px;
            background: radial-gradient(circle at top left, rgba(255,255,255,.2),rgba(35, 31, 32, 1)), $gold-pattern-bg;
            color: #000;
          }
        }
      }
    }
  }
  .navigation-desktop > ul > li {
    width: 150px;
    height: 40px;
    border-right: solid 1px $background-color;
    &:last-child {
      border-right: none;
    }
    > a {
      height: 40px;
      font: {
        family: $heading-font;
        size: 1rem;
        weight: 900;
        style: normal;
      }
      color: #5a0206;
      transition: all 0.7s ease-out;
      &:hover {
        color: rgba(223,190,106,0.7);
        background: linear-gradient(rgba(223, 190, 106,.1),rgba(35, 31, 32, .5));
      }
    }
  }
  .desktop-nav-dropdown {
    background-color: $background-color;
    border: solid 1px $primary-border-color;
      -webkit-box-shadow: 0 8px 6px -6px #000;
      -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px black;
    .uk-nav-header {
      font-family: $heading-font;
      color: $primary-color;
    }
    li {
      height: 20px;
      margin: 5px;
      a {
        height: 20px;
        padding: 0;
        background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
        background: {
          position: 1% 50%;
          size: 300% 300%;
        }
        border: solid 1px $primary-border-color;
        font: {
          family: $general-font !important;
          size: .525rem;
          weight: 300;
        }
        color: $primary-color;
        line-height: 20px;
        transition: all 0.7s ease-in;
        &:hover {
          color: #fff;
          border: solid 1px rgba(223,190,106,0);
          background-position: 99% 50%;
        }
      }
    }
  }
}

.frame-content {
  overflow: hidden;
  iframe {
    width: 102%;
    height: 430px;
    @include respond-to(tablet) {
      height: 930px;
    }
    @include respond-to(desktop) {
      height: 1230px;
    }
  }
}

footer {
  background-color: rgba(0, 0, 0, .7);
  border-top: solid 3px $primary-border-color;
  .copyrights {
    margin-top: 10px;
    padding: 10px 15px;
    p {
      font-size: .525rem;
      letter-spacing: 0.2em;
      color: #eee;
    }
  }
  .footer-nav {
    background: radial-gradient(circle, rgba(255,255,255,.2),rgb(2, 2, 2)), $gold-pattern-bg;
    .uk-subnav li {
      a {
        padding: 4px;
        font: {
          family: $general-font;
          size: .425rem;
          weight: 800;
        }
        color: #000;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .bank-support {
    font: {
      family: $heading-font;
      size: .675rem;
    }
    text-align: center;
    .uk-drop {
      padding: 10px;
      background: $background-color;
      text-align: left;
      border: solid 1px $primary-border-color;
    }
    #bca {
      background: $bank-icon 0;
    }
    #mandiri {
      background: $bank-icon -100px;
    }
    #bni {
      background: $bank-icon -200px;
    }
    #bri {
      background: $bank-icon -300px;
    }
    #danamon {
      background: $bank-icon -400px;
    }
    .bank-icon {
      display: inline-block;
      width: 100px;
      height: 25px;
      margin-right: 5px;
      background-repeat: no-repeat;
    }
    p {
      margin-top: 2px;
      margin-bottom: 10px;
      font: {
        family: $general-font;
        size: .575rem;
      }
      letter-spacing: 0.1em;
    }
  }
}

/* Other Page Style */

.bottom-divider {
  width: 100%;
  height: 2px;
  background: radial-gradient(circle at top center, rgba(255,255,255,.2),rgba(35, 31, 32, 1)), $gold-pattern-bg repeat;
}

.registration-page-wrapper {
  position: relative;
  margin: 0 auto 20px;
  padding-top: 350px;
  background: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747548/stationbet/reg-form-bg.png') no-repeat top center;
  .registration-page {
    padding: 20px;
    h1 {
      font: {
        weight: 500;
        size: 2rem;
      }
      text: {
        transform: uppercase;
        align: center;
        shadow: 1px 1px 2px #000;
      }
      letter-spacing: .4em;
    }
    p {
      font-size: .525rem;
      text-align: center;
      letter-spacing: .2em;
    }
  }
}

.content-page-wrapper {
  background: radial-gradient(circle at bottom center, rgba(214, 194, 98, .2),rgba(35, 31, 32, 1));
  .content-sportsbook {
    background: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747547/stationbet/content-bg-sportsbook.png') no-repeat top center;
  }
  .content-casino {
    background: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747546/stationbet/content-bg-casino.png') no-repeat top center;
  }
  .content-poker {
    background: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747546/stationbet/content-bg-poker.png') no-repeat top center;
  }
  .content-ayam {
    background: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747546/stationbet/content-bg-ayam.png') no-repeat top center;
  }
  .content-egames {
    background: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747547/stationbet/content-bg-slot.png') no-repeat top center;
  }
  .content-tangkas {
    background: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747550/stationbet/content-bg-tangkas.png') no-repeat top center;
  }
  .content-togel {
    background: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747547/stationbet/content-bg-togel.png') no-repeat top center;
  }
  .content-rules {
    background: url('https://res.cloudinary.com/globalcdn/image/upload/v1523747546/stationbet/content-bg-rules.png') no-repeat top center;
  }
  .main-content {
  padding-top: 350px;
  }
  h1 {
    font-size: 1.825rem;
    text: {
      align: center;
      shadow: 1px 1px 2px #000;
    }
    color: $primary-color;
    letter-spacing: .5em;
  }
  p {
    font-size: 0.675rem;
    text: {
      align: left;
      shadow: 1px 1px 2px #000;
      transform: none;
    }
    letter-spacing: .1em;
  }
  .product-box {
    border: solid 1px $primary-border-color;
    &:hover {
      background-color: rgba(0, 0, 0, .3) !important;
      border: 0;
    }
    h2 {
      font-size: 1rem;
      color: $primary-color;
    }
    p {
      font: {
        size: .525rem;
        weight: 800;
      }
      text-align: center;
      text-transform: uppercase;
    }
    a {
      display: inline-block;
      padding: 5px 60px 8px;
    }
  }
  ul li {
    margin-bottom: 5px;
    font: {
      size: .7rem;
      weight: 500;
    }
    text: {
      transform: none;
      shadow: 1px 1px 2px #000;
    }
    letter-spacing: .1em;
  }
  ol li {
    color: $primary-color;
  }
}

.sign-up-form-wrapper {
  padding: 15px;
  padding-bottom: 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  background-size: contain;
  background: $alt-bg-pattern;
  border: solid 1px $primary-border-color;
  .cta-register {
    p {
      font-size: .575rem;
      letter-spacing: .2em;
    }
  }
}