$heading-font: 'Share Tech', sans-serif;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('../bg.png');
}

.container {
  max-width:600px;
	margin:0 auto;
	margin-top:150px;
  .header-title {
    text-align: center;
    h1 {
      font: {
        family: $heading-font;
        weight: 900;
      }
      color: darkblue;
    }
  }
  .error-message {
    p {
      font: {
        family: $heading-font;
        weight: bold;
      }
      color: #910000;
    }
  }

  .form-url {
    padding: 20px 30px;
    background: rgba(2, 62, 96, .5);
    border: solid 1px rgba(2, 62, 96, .8);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 2px rgba(2, 62, 96, .5);
    .proxy-action {
      margin: 0 auto;
      .url-box {
        width: 350px;
        margin-right: 20px;
        padding: 10px 20px;
        background: #000;
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        font: {
          family: $heading-font;
          weight: bold;
        }
        color: #fff;
        border: solid #1f638d 1px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
        border-radius: 0px;
          -webkit-box-shadow: 0px 1px 3px #666;
          -moz-box-shadow: 0px 1px 3px #666;
        box-shadow: 0px 1px 3px #666;
        text-decoration: none;
      }
      .submit-btn {
        padding: 10px 20px;
        background: #000;
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
        font: {
          family: $heading-font;
          weight: bold;
        }
        color: darkblue;
        border: solid #1f638d 1px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
        border-radius: 0px;
          -webkit-box-shadow: 0px 1px 3px #666;
          -moz-box-shadow: 0px 1px 3px #666;
        box-shadow: 0px 1px 3px #666;
        text-decoration: none;
      }
    }
  }
}

#footer {
  font: {
    family: $heading-font;
  }
	text-align:center;
	font-size:10px;
	margin-top:35px;
  clear:both;
  letter-spacing: .225rem;
}



