/* Color */
$main-color: #045901;
$main-color-light: #086f02;
$main-color-dark: #033f01;
$secondary-color: #910000;

/* Typography */
$header-font: 'Sarpanch', sans-serif;
$global-font: 'Fira Sans', sans-serif;

/* Images Source */
$bgdot-green: url('../img/green-pattern.jpg') repeat;
$bgdot-black: url('../img/black-pattern.jpg') repeat;
$game-icons: url('../img/game-icons-sprites.png');
$product-icons: url('../img/product-icons-sprites.png');
$bank-icons: url('../img/bank-icons-sprites.png');
$footer-slider-bg: url('../img/footer-slider-bg.png');
$download-btn-logo: url('../img/download-btn-logo.png');
$license-icons: url('../img/license-icons-sprites.png');